<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuaipao.user.mapper.GoodsMapper">

    <select id="getGoodsCat" resultType="com.kuaipao.user.bean.Cat">
        select id,parent_id as parentId,name from deal_item_category where parent_id=#{id}
    </select>

    <select id="getOldLevel" resultType="java.util.Map">
        select id,level from item_old_level
    </select>

    <select id="getTop" resultType="java.util.Map">
        SELECT item_id as id FROM `item_visit` ORDER BY times DESC LIMIT 0,#{number,jdbcType=INTEGER}
    </select>

    <select id="getTopGoods" resultType="com.kuaipao.user.bean.DealItem">
        SELECT id,title,price,picturesUrl FROM deal_item WHERE id IN
        <foreach collection="ids" open="(" separator="," close=")" item="item" >
            #{item}
        </foreach>
    </select>
</mapper>